/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --primary-color: #6366F1;
    --dark-gray: #4B5563;
    --off-white: #EEF2FF;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.nav-brand{
    cursor: pointer;
}

hr {
    margin: 2rem 0rem;
}

small{
    font-size: 14px;
}

.header-img{
    border: 5px solid var(--primary-color);
}

/* CONTAINER */
.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centred {
    padding-bottom: 2rem;
    max-width: 500px;
    margin: auto;
}

/* LINKS */
.links {
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.links:hover{
   color: black;
}


.link-primary {
    padding: 10px 15px;
    letter-spacing: 2px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.link-secondary {
    letter-spacing: 2px;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.link-primary:hover{
    background-color:white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    /* font-weight: 500; */
}
.link-secondary:hover{
    background-color:var(--primary-color);
    color: var(--off-white);
    /* font-weight: 500; */
}


/* LISTS */
.lists-reversed{

}

.lists-non-bullet {
    list-style: none;
}

.lists-item-inline {
    display: inline;
    padding: 0rem 0.2rem;
}



/* NAV */

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
}

.navigation .links {
    color: var(--off-white);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 0.5rem;
}
.navigation .links:hover{
    background-color: var(--off-white);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.navigation .lists-non-bullet {
    font-size: auto;
    padding: 1rem 0rem;
    text-align:right;
    letter-spacing: 0px;
}
.navigation .lists-item-inline{
    padding: 0rem 0rem;
    margin: 1rem;
}

.nav-brand a{
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: var(--off-white);
}

.navigation .link-active {
    border: 2px solid var(--off-white);
    border-radius: 0.5rem;
}



/* HEADER */
.header {
    padding: 2rem;
}

.header .header-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.header .header-title {
    color: var(--dark-gray);
    text-align: center;
    padding-top: 1rem;
    font-size: 36px;
}


/* SECTION */
.section {
    padding: 1rem;
}

.section.ow {
    background-color: var(--off-white);
}


/* FOOTER */

.footer {
    padding:10px 0 20px 0;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .links {
    font-size: 20px;
    margin: 8rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 0.5rem;
}
.footer .links:hover {
    background-color: var(--off-white);
    color: #6366F1;
    border-radius: 0.5rem;
}


.footer ul {
    padding-inline-start: 0px;
}

.footer-header{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}



