/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --primary-color: #6366F1;
    --dark-gray: #4B5563;
    --off-white: #EEF2FF;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

small{
    font-size: 14px;
}

/* CONTAINER */
.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centred {
    padding-bottom: 2rem;
    max-width: 500px;
    margin: auto;
}

/* LINKS */
.links {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    letter-spacing: 2px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary {
    letter-spacing: 2px;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--primary-color);

}


/* LISTS */
.lists-reversed{

}

.lists-non-bullet {
    list-style: none;
}

.lists-item-inline {
    display: inline;
    padding: 0rem 0.2rem;
}



/* NAV */

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
}

.navigation .links {
    color: white;
}

.navigation .lists-non-bullet {
    font-size: auto;
    padding: 1rem 0rem;
    text-align:right;
    letter-spacing: 0px;
}
.navigation .lists-item-inline{
    padding: 0rem 0rem;
}

.nav-brand {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    text-align: left;
}

.navigation .link-active {
    font-weight:900;
}



/* HEADER */
.header {
    padding: 2rem;
}

.header .header-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.header .header-title {
    color: var(--dark-gray);
    text-align: center;
    padding-top: 1rem;
    font-size: 36px;
}


/* SECTION */
.section {
    padding: 1rem;
}

.section.ow {
    background-color: var(--off-white);
}


/* FOOTER */

.footer {
    padding: 2rem;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .links {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-header{
    font-size: larger;
    font-weight: bold;
}